/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: none; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  font-family: "Segoe UI", sans-serif, Helvetica, Arial;
  color: #222;
  background-color: #f4f4f4; }
  body .content-wrapper, body #header-wrapper, body #footer-wrapper {
    margin: 0 auto;
    max-width: 1200px; }
  body #page-wrapper {
    margin: 45px 15px; }

a {
  text-decoration: none !important;
  color: #222; }

a:hover {
  color: #00ccff !important; }

a:active {
  color: #222; }

a:visited {
  color: #222; }

h1 {
  font-size: 46px;
  font-weight: 100; }

h2 {
  font-size: 26px;
  font-weight: 100;
  margin: 18px 0 12px 0; }

h3 {
  font-size: 22px;
  font-weight: 100;
  margin: 12px 0 6px 0; }

p {
  font-weight: 100;
  line-height: 180%;
  margin: 0px 0 6px 0; }

/* Components */
button {
  background-color: black;
  color: white; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) {
    .container {
      width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: 0px;
  margin-right: 0px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; } }

header {
  display: none;
  background-color: #fff;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000; }
  header #logo {
    float: left;
    margin: 15px; }
  header nav ul li {
    float: left;
    margin: 15px;
    padding-right: 15px;
    border-right: solid 1px rgba(160, 160, 160, 0.3); }
  header nav ul li:last-child {
    border-right: solid 0px rgba(160, 160, 160, 0.3); }

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 10000;
  text-align: center;
  padding: 15px 0px;
  font-size: 12px;
  background-color: #f4f4f4;
  font-weight: 100; }

@media (max-width: 480px) {
  #footer-wrapper {
    width: 270px; } }

/* Views */
#home-view .profile {
  text-align: center;
  padding: 15px; }
  #home-view .profile h1 {
    letter-spacing: -0.01em; }
  #home-view .profile p {
    line-height: 46px; }
  #home-view .profile .circle {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background: url("./../images/steffen-gottschalk.jpg") center center/cover no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }

/*# sourceMappingURL=styles.css.map */
